.layout-builder-ipe-actions {
  padding: 0 !important;
  color: var(--colorGinText);
  border: none !important;
  background-color: var(--colorGinLayerBackground);
  -webkit-box-shadow: -1px 0 3px 1px rgb(0 0 0 / 0.33);
  box-shadow: -1px 0 3px 1px rgb(0 0 0 / 0.33);
}
.layout-builder-ipe-actions a {
  margin: 0.5rem 0.75rem !important;
}

body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add {
  position: absolute;
  z-index: 1;
  top: -2rem !important;
  left: calc(50% - 0.65rem);
  display: none !important;
  width: 1.3rem !important;
  height: 1.3rem !important;
  padding: 13px !important;
  text-decoration: none;
  color: var(--colorGinPrimary) !important;
  border: 1px solid var(--colorGinPrimary);
  border-radius: 50% !important;
  background-color: white !important;
  background-position: center;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add svg {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add svg path {
  fill: var(--colorGinPrimary);
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add:hover,
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active .active-link {
  color: white !important;
  outline: none;
  background-color: var(--colorGinPrimary) !important;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add:hover svg path,
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active .active-link svg path {
  fill: white;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add.link-after {
  top: unset !important;
  bottom: -2rem !important;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block:not(.is-layout-builder-highlighted):hover,
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active {
  border-top: 0 !important;
  border-bottom: 0 !important;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block:not(.is-layout-builder-highlighted):hover a.layout-builder__link--add,
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active a.layout-builder__link--add.active-link {
  display: block !important;
  pointer-events: all;
}
