.layout-builder-ipe-actions {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  border-top: 1px solid black;
  background-color: white;
}

body.layout-builder-ipe-editing .layout-builder-ipe-actions {
  display: none;
}

body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block {
  margin-top: 0;
  margin-bottom: 1px;
}

body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add {
  position: absolute;
  z-index: 1;
  top: -0.9rem;
  left: calc(50% - 0.65rem);
  display: none;
  width: 1.3rem;
  height: 1.3rem;
  padding: 13px;
  text-decoration: none;
  color: #2f91da;
  border: 1px solid #2f91da;
  border-radius: 50%;
  background: white;;
  background-color: white;
  background-position: center;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add svg {
  position: relative;
  top: -10px;
  left: -8px;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add svg path {
  fill: #2f91da;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block a.layout-builder__link--add.link-after {
  top: unset;
  bottom: -0.9rem;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block:not(.is-layout-builder-highlighted):hover,
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active {
  margin-top: -1px;
  margin-bottom: 0;
  border-top: 1px dashed #2f91da;
  border-bottom: 1px dashed #2f91da;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active .active-link {
  outline: solid 3px currentColor;
}
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block:not(.is-layout-builder-highlighted):hover a.layout-builder__link--add,
body.layout-builder-ipe-editing.layout-builder-ipe--enhance-ui .layout-builder-block.is-layout-builder-active a.layout-builder__link--add.active-link {
  display: block;
  pointer-events: all;
}

.ui-dialog.locked-message {
  width: 60% !important;
  max-width: 600px !important;
  line-height: 1.5rem;
}
